
// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.card-auth{
    width: 40%;
    margin: 0 auto;
    margin-top: 10rem;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.card-header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.card-auth .btn-link{
    padding-left: 0;
}
.navbar-brand{
    color: #FFF !important;
    font-size: 1.5rem;
}
.nav-link{
    color: #FFF !important;
    font-size: 1.1rem;
}
.nav-link i{
    font-size: 1rem;
    margin-right: 5px;
}
.navbar{
    margin-bottom: 30px;
}
.form-list-delete-post{
    float: left;
    margin-right: 10px;
}
